#Meetches{
  background-image: url("../img/meetches.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#fullScreen{
  background-image: url("../img/fullscreen.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#Shingeki{
  background-image: url("../img/shingeki.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#psgReal{
  background-image: url("../img/psgreal.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#Nespresso{
  background-image: url("../img/nespresso.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}
.Projects {
  height: auto;
  width: 100%;
  background-color: $white;

  &-container {
    height: auto;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    &-item{
      width:310px;
      height:auto;
      margin-bottom:30px;
      &__top{
        width:310px;
        height:200px;
        box-shadow: 1px 1px 8px 2px $gray;
      }
      &__bottom{
        width:310px;
        height:100px;
        display:flex;
        justify-content:space-between;
        margin-top:10px;
        &__leftBar{
          height:100px;
          width:10px;
          background-color:$yellow;
          border-radius:10px;
        }
        &__infos{
          width: 270px;
          height:80px;
          margin-top:10px;
          margin-bottom:10px;
          display:flex;
          flex-direction:column;
          justify-content: space-between;
          &__date{
            font-size: 16px;
            color:$black;
            font-family:'ralewaylight';
          }
          &__name{
            font-size: 25px;
            color:$black;
            font-family:'ralewaymedium';
          }
          &__more{
            font-size: 14px;
            color:$yellow;
            font-family:'ralewaylight';
          }
        }
      }
    }
  }
}
